<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hi</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="title">
        <h1>Hi</h1>
    </div>
    <div class="rowContainer header">
        <div class="breakfast">Breakfast</div>
        <div class="lunch">Lunch</div>
        <div class="dinner">Dinner</div>
        <div class="snacks">Late Night Snacks</div>
    </div>

	<!-- {{#restaurant}}
    <div class="container meals">
    	<div class="breakfast">{{breakfast}}</div>
        <div class="lunch">{{lunch}}</div>
        <div class="dinner">{{dinner}}</div>
        <div class="snacks">{{snacks}}</div>
    </div>
    {{/restaurant}} -->

    <a href="/bands/profile">Back to Tour Dates</a>
</body>

</html>
