<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Hi</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="title">
        <h1>Hi</h1>
    </div>
    <div class="rowContainer header">
        <div class="breakfast">
            <h1>Breakfast</h1> {{#venueRestaurants.breakfast.data.results}}
            <div class="rowContainer venue">
                <div class="name">{{name}}</div>
                <div class="address">{{formatted_address}}</div>
                <div class="rating">Rating: {{rating}}</div>
            </div>
            {{/venueRestaurants.breakfast.data.results}}
        </div>
        <div class="lunch">
            <h1>Dinner</h1> {{#venueRestaurants.lunch.data.results}}
            <div class="rowContainer venue">
                <div class="name">{{name}}</div>
                <div class="address">{{formatted_address}}</div>
                <div class="rating">Rating: {{rating}}</div>
            </div>
            {{/venueRestaurants.lunch.data.results}}
        </div>
        <div class="dinner">
            <h1>Dinner</h1> {{#venueRestaurants.dinner.data.results}}
            <div class="rowContainer venue">
                <div class="name">{{name}}</div>
                <div class="address">{{formatted_address}}</div>
                <div class="rating">Rating: {{rating}}</div>
            </div>
            {{/venueRestaurants.dinner.data.results}}
        </div>
        <div class="snacks">
            <h1>Late Night Snacks</h1> {{#venueRestaurants.snacks.data.results}}
            <div class="rowContainer venue">
                <div class="name">{{name}}</div>
                <div class="address">{{formatted_address}}</div>
                <div class="rating">Rating: {{rating}}</div>
            </div>
            {{/venueRestaurants.snacks.data.results}}
        </div>
    </div>
    <a href="/bands/profile">Back to Tour Dates</a>
</body>

</html>
