<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Edit Date</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="container">
        <a href="../../bands/profile/">Back to Profile</a>
        <h1>Edit tour date:</h1>
        <form class="edit-date-form">
            <label>Date:</label>
            <input class="tour-date-edit" placeholder="{{tour.tour_date}}" />
            <label>City:</label>
            <input class="tour-city-edit" />
            <label>State:</label>
            <input class="tour-state-edit" maxlength="2" />
            <label>Venue:</label>
            <input class="tour-venue-edit" placeholder="{{venue.name}}" />
            <button type="submit" class='search' data-id="{{tour.id}}">Search</button>
        </form>
    </div>
</body>

</html>
