<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add New Date</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="container">
        <h1>Add a new tour date:</h1>
        <form class="new-date-form">
            <label>Date:</label>
            <input class="tour-date-input" />
            <label>City:</label>
            <input class="tour-city-input">
            <label>State:</label>
            <input class="tour-state-input" maxlength="2">
            <label>Venue:</label>
            <input class="tour-venue-input" />
            <button type="submit">Search</button>
        </form>
        
        <div class="results">
           
        </div>
    </div>
</body>

</html>
