<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Add New Date</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <a href="../dates/{{link}}">Search Again</a>
    <h1 id='date' data-date="{{date}}" data-date_id={{date_id}}>Results for {{date}}</h1>
    <div class="rowContainer header">
        <div class="name">Name</div>
        <div class="address">Address</div>
        <div class="select">Add</div>
    </div>
    {{#data.data.results}}
    <div class="rowContainer venue">
        <div class="name">{{name}}</div>
        <div class="address">{{formatted_address}}</div>
        <button class="select" data-lat="{{geometry.location.lat}}" data-lng="{{geometry.location.lng}}" data-id="{{id}}" data-name="{{name}}" data-address="{{formatted_address}}">Add to Tour Dates</button>
    </div>
    {{/data.data.results}}
</body>

</html>
