<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Change Band Name</title>
    <link rel="shortcut icon" href="../../images/guitar.png" />
    <link rel="stylesheet" href="../../css/menu.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania" rel="stylesheet">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="container">
        <div>
            <h1 class="title">Edit Band Info</h1>
        </div>
        <form class="edit-band-form">
            <label>Name:</label>
            <input class="band-name-edit input" placeholder="{{user.name}}" />
            <button type="submit" class="submit button" data-id="{{user.id}}">Submit</button>
        </form>
        <a class="backButton" href="../bands/profile">Back to Profile</a>
    </div>
</body>

</html>
