<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Band Profile</title>
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/flatpickr"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/script.js"></script>
</head>

<body>
    <div class="welcome">
        <h1>Welcome to your profile, {{bandInfo.band.name}}</h1>
    </div>
    <div class="tour_dates">
        <div class="container header">
            <div class="date">Date</div>
            <div class="location">Location</div>
            <div class="venue">Venue</div>
            <div class="explore">More Info</div>
            <div class="edit">Edit Date</div>
            <div class="delete">Delete Date</div>
        </div>
        {{#bandInfo.tour}}
        <div class="container tourDate">
            <div class="date">{{tour_date}}</div>
            <div class="location">{{city}}, {{state}}</div>
            <div class="venue">{{name}}</div>
            <div class="explore"><a href="/venues/{{venue_id}}">Explore</a></div>
            <div class="edit"><a href="/dates/edit/{{id}}">Edit Tour Dates</a></div>
            <div class="delete"><a href="/dates/delete/{{id}}">Delete Tour Date</a></div>
        </div>
        {{/bandInfo.tour}}
    </div>
    <a href="../dates/new">Add Tour Date</button>
        <div class="logout">
            <a href="/bands/logout">Logout</a>
    </div>
</body>

</html>
